#all {
    position: relative;
    top: 70px;
    width: 400px;
    height: 250px;
    background-color: brown;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#white {
    position: absolute;
    width: 260px;
    height: 180px;
    margin: 70px;
    margin-top: 0px;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.tips {
    background-color: grey;
    height: 80px;
    width: 70px;
    position: absolute;
    top: -15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tip2 {
    right: 0;
}